
:root{
    --fonte1: 'Passion One' ,cursiva;
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}
h1{
    margin-top:30px ;
    font-weight: bolder;
    letter-spacing: 1px;
}
h2{
    letter-spacing: 1px;
}
.pagina1{
    background-image: url('imagens/fundo-teste.avif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    box-shadow: inset 4px 4px 7px 7px rgba(255, 255, 255, 0.74);
    border-radius: 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color:  rgba(94, 92, 92, 0.781);
    width: 100%;  
    border-radius: 0px 0px 10px 10px;
    
}
nav ul li{
   display: inline-block;
   padding: 15px;
   list-style: none;
}
nav ul li a{
    color: rgb(216, 208, 208);
    text-decoration: none;
    font-weight: bolder;
    text-transform: capitalize;
}
nav a:hover{
    color: red;
}
.titulo{
    font-size: 2.4vw;
    letter-spacing: .2rem;
}
span{
    color: rgb(223, 9, 9);
}
.comentario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.btns{
    display: flex;
    justify-content: center;
}
.btns button{
    width: 120px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    position: relative;
    transition: 1.2s;
}
.btns button:hover{
    color: red;
    border: none;
}
.relogio{
    display:flex;
    justify-content: space-around;
    height: 50px; 
    border-radius: 10px;
    box-shadow:  0px  2px  2px;
    color: aliceblue;
}
.relogio div {
    display: flex;
    margin: 5px;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}
.relogio span {
    font-weight: bolder;
    font-size:  15px; 
}
.relogio span.tempo {
    font-size: 10px;
    color: aliceblue;
}
.logica{
    background-color: rgba(0, 0, 0, 0.829);
    display: inline-block;
    height: 50vh;
    text-align: center;
    border-radius: 10px;
}
.logica p {
   color: #fcfc;
   line-height: 1.3em;
   margin: 30px;
   text-align: justify;
   text-indent: 30px;
   font-weight: bolder;
}
.logica img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.criador{
    background-color: rgba(0, 0, 0, 0.808);
    padding: 10px;
    text-align: center;
    box-shadow: inset 4px 4px 7px 7px rgba(255, 255, 255, 0.699);
    background-attachment: fixed;
    border-radius: 10px;
}
.titulocriador{
    margin-top: 30px;
}
.fundo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
}
.card{
    background-color: rgba(255, 255, 255, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(46, 45, 45, 0.753);
}
.card img{
    height: 200px;
    margin: 5px;
    border-radius: 10px;
}
.card a{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.89);
    color: white;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 10px 5px 10px 10px rgba(0, 0, 0, 0.822);
}
.card a:hover{
    background-color: transparent;
    color: red;
    transition: all 0.2s ease-in-out;
}
div#img02{
    background-image: url('imagens/fundo-teste.avif');
    background-repeat: no-repeat;
    background-size: cover;
}
.social{
    background-color: rgba(0, 0, 0, 0.836);
    padding-top: 30px;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    height: 300px;
    justify-content: space-around;   
}
div#img03{
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.social img{
    height: 70px;
    margin: 10px;
    border-radius: 20px;
}
.social img:hover{
    border: 2px solid white;
}
footer{
    text-align: center;
    font-weight: bolder;
    padding: 10px;
}